{
    email zaharov.danil2021@gmail.com
}

znaymed.ru {
    encode zstd gzip

    log {
        output stdout
        format console
    }

    @payments path /psp-callback* /psp-callback-test* /return*
    handle @payments {
        reverse_proxy payment-service:8081
    }


    @notpost {
        path /psp-callback* /psp-callback-test*
        not method POST
    }
    respond @notpost 405


    handle {
        reverse_proxy api-gateway:8080
    }
}

